<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>DeletarFuncionario</servlet-name>
        <servlet-class>br.com.bean.funcionario.DeletarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarServico</servlet-name>
        <servlet-class>br.com.bean.servico.DeletarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletarCliente</servlet-name>
        <servlet-class>br.com.bean.cliente.DeletarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>br.com.bean.funcionario.CadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebjarsServlet</servlet-name>
        <servlet-class>org.webjars.servlet.WebjarsServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UsuarioControllers</servlet-name>
        <servlet-class>br.com.bean.usuario.UsuarioControllers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarCliente</servlet-name>
        <servlet-class>br.com.bean.cliente.CadastrarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarFuncionario</servlet-name>
        <servlet-class>br.com.bean.funcionario.BuscarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarFuncionario</servlet-name>
        <servlet-class>br.com.bean.funcionario.EditarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarServico</servlet-name>
        <servlet-class>br.com.bean.servico.BuscarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarServico</servlet-name>
        <servlet-class>br.com.bean.servico.CadastrarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarServico</servlet-name>
        <servlet-class>br.com.bean.servico.EditarServico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscarCliente</servlet-name>
        <servlet-class>br.com.bean.cliente.BuscarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliente</servlet-name>
        <servlet-class>br.com.bean.cliente.EditarCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirUsuario</servlet-name>
        <servlet-class>br.com.bean.usuario.ExcluirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarUsuario</servlet-name>
        <servlet-class>br.com.bean.usuario.EditarUsuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebjarsServlet</servlet-name>
        <url-pattern>/webjars/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarFuncionario</servlet-name>
        <url-pattern>/DeletarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarServico</servlet-name>
        <url-pattern>/DeletarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletarCliente</servlet-name>
        <url-pattern>/DeletarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/CadastrarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioControllers</servlet-name>
        <url-pattern>/UsuarioControllers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarCliente</servlet-name>
        <url-pattern>/CadastrarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarFuncionario</servlet-name>
        <url-pattern>/BuscarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarFuncionario</servlet-name>
        <url-pattern>/EditarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarServico</servlet-name>
        <url-pattern>/BuscarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarServico</servlet-name>
        <url-pattern>/CadastrarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarServico</servlet-name>
        <url-pattern>/EditarServico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscarCliente</servlet-name>
        <url-pattern>/BuscarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliente</servlet-name>
        <url-pattern>/EditarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirUsuario</servlet-name>
        <url-pattern>/ExcluirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarUsuario</servlet-name>
        <url-pattern>/EditarUsuario</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
